<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.ReplyMapper">

	<select id="getReplyList" parameterType="ReplyVO" resultType="ReplyVO">
		select * from( select rownum AS rn, a.* from (

		SELECT *
		FROM tbl_reply
		where bno = #{vo.bno}
		
<![CDATA[
	) a where rownum <= #{pvo.end} ) b where rn >= #{pvo.start}
]]>
	</select>
	<insert id="addReply">
		insert into tbl_reply (rno, bno, reply, replyer)
		values(seq_reply.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
</mapper>